body {
  background-image: url("../images/img2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 10px;
  background-position: 50% 50%;
}
h1 {
  padding: 1%;
  font-family: Century Gothic;
  text-align: center;
  color: white;
}

.principal {
  padding: 20px;
  width: 650px;
  height: 550px;
  border-radius: 10%;
  
  margin: auto;
  background: rgba(46, 43, 43, 0.181);
  backdrop-filter: blur(6.5px);
}
.form-control {
  margin-left: 30%;
  font-size: 22px;
}
.form-date {
  display: flex;
}

ul {
  list-style-type: disc;
  list-style: none;
  font-family: Century Gothic;
  font-size: 18px;
  color: white;
}
.list1 {
  text-align: center;
}

.cities {
  color: white;
  position: relative;
  z-index: 1;
  font-size: 45px;
  font-family: Century Gothic;
}
.cities:hover{
   color: rgb(12, 12, 12);
   font-weight: bolder;
}

.text2 {
  text-align: center;
  color: white;
  font-size: 70px;
  padding: 15px;
}
.text2:hover {
  color: rgb(12, 12, 12);
  font-weight: bolder;
}

.btn1 {
  margin-left: 40%;
  background-color: rgb(39, 159, 228);
  padding: 7px;
  border: 0;
  border-radius: 15px;
  color: white;
  width: 40%;
}
.iconPrindipal {
  width: 130px;
  height: 140px;
}

.weather-temperature .active {
  font-size: 17px;
  color: white;
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  cursor: pointer;
  font-size: 22px;
  text-decoration: none;
}
.weather-temperature {
  display: inline-flex;
  padding: 2%;
  text-align: center;
  margin-left: 30px;
  font-family: Century Gothic;
}

li:first-letter {
  text-transform: capitalize;
}
.forecast {
  padding: 0%;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: white;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.8;
  text-align: center;
  font-family: Century Gothic;
  color: white;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
.footer {
  text-align: center;
  font-family: "Courier New";
  color: whitesmoke;
}
.icon-git {
  width: 38px;
  height: 35px;
}
