body {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 20px;
}
h1 {
  text-align: center;
  color: rgb(0, 153, 255);
}

.principal {
  padding: 20px;
  width: 650px;
  height: 550px;
  border-radius: 10%;
  background-color: rgb(170, 214, 255);
  margin: auto;
}
.form-control {
  margin-left: 30px;
  font-size: 22px;
}

ul {
  list-style-type: disc;
  list-style: none;
  font-family: Century Gothic ;
  font-size: 18px;
}

.cities {
  color: rgb(95, 92, 92);
  position: relative;
  z-index: 3;
  font-size: 35px;
  font-family: Century Gothic ;
}
.day {
  text-align: left;
  font-size: 18px;
}

.text2 {
  text-align: center;
  color: rgb(110, 109, 109);
  font-size: 70px;
  padding: 15px;
}
.text2:hover {
  color: rgb(12, 12, 12);
  font-weight: bolder;
}

.btn1 {
  margin-left: 20px;
  background-color: rgb(39, 159, 228);
  padding: 7px;
  border: 0;
  border-radius: 15px;
  color: white;
  width: 120px;
}
.iconPrindipal {
  width: 130px;
  height: 140px;
  
}

.weather-temperature .active {
  font-size: 17px;
  color: rgb(17, 16, 16);
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  cursor: pointer;
  font-size: 22px;
  text-decoration: none;
}
.weather-temperature {
  display: inline-flex;
  padding: 5%;
  text-align: center;
  margin-left: 30px;
  font-family: Century Gothic ;
}

li:first-letter {
  text-transform: capitalize;
}
.forecast {
  padding: 0%;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
  text-align: center;
  font-family: Century Gothic ;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
.footer {
  text-align: center;
  font-family: 'Courier New';
}
.icon-git {
    width: 38px;
    height: 35px;
    
}
