.body {
  /*background-image: url("../images/img1.jpg");*/
  background-color: rgba(0, 0, 0, 0.952);

  /* background-attachment: fixed;
  margin: 10px; 
  background-position: 20% 20%;
  background-size: cover;
  background-repeat: no-repeat;*/
}
h1 {
  padding: 1%;
  font-family: Century Gothic;
  text-align: center;
  color: rgb(30, 168, 248);
  size: 50px;
  font-weight: bolder;
}

.principal {
  padding: 10px;
  margin-left: 20%;
  margin-right: 20%;
}
.form-date {
  /*background: rgba(125, 124, 124, 0.214);
  /* backdrop-filter: blur(6.5px);*/
  margin-left: 5%;
  margin-right: 5%;
  height: 350px;
  border-radius: 15px;
}
.Cont-Principal {
  background-image: url("../images/img1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  /*background: rgba(160, 160, 160, 0.214);
  backdrop-filter: blur(6.5px);*/
  box-shadow: 0 0 3em 0 rgb(25, 140, 211);
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 15px;
}

.form-control {
  margin-left: 2%;
  margin-top: 10%;
  font-size: 22px;
  width: 50%;
}
.btn1 {
  margin-left: 10%;
  background-color: rgb(39, 159, 228);
  padding: 7px;
  border: 0;
  border-radius: 15px;
  color: white;
  width: 60%;
  margin-top: 10%;
}
.btn1:hover {
  background-color: rgb(241, 244, 246);
  color: rgb(39, 159, 228);
}

ul {
  list-style-type: disc;
  list-style: none;
  font-family: Century Gothic;
  font-size: 18px;
  color: white;
  text-align: center;
}

.list1 {
  padding: 2%;
}

.cities {
  color: white;
  z-index: 1;
  font-size: 45px;
  font-family: Century Gothic;
  text-align: center;
}
.cities:hover {
  color: rgb(39, 159, 228);
  font-weight: bolder;
}

.text2 {
  text-align: center;
  color: white;
  font-size: 70px;
  padding: 15px;
}
.text2:hover {
  color: rgb(39, 159, 228);
  font-weight: bolder;
}

.iconPrindipal {
  width: 130px;
  height: 140px;
}

.weather-temperature .active {
  font-size: 30px;
  color: white;
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  cursor: pointer;
  font-size: 32px;
  text-decoration: none;
  color: rgb(39, 159, 228);
}
.weather-temperature {
  padding: 2%;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  font-family: Century Gothic;
  /*background: rgba(125, 124, 124, 0.214);
  backdrop-filter: blur(6.5px);*/
  border-radius: 15px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-forecast {
  margin-top: 10px;
  text-align: center;
  color: white;
}

div .row .dayforecast {
  /* background: rgba(172, 172, 172, 0.211);
  backdrop-filter: blur(6.5px);*/
  padding: 1%;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10%;
}
div .row .dayforecast:hover {
  /*font-size: 30px;*/
  color: rgb(39, 159, 228);
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.8;
  text-align: center;
  font-family: Century Gothic;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
.footer {
  text-align: center;
  font-family: "Courier New";
  color: whitesmoke;
}
.icon-git {
  width: 38px;
  height: 35px;
}
